# Ignore version control directories
.git/
.gitignore

# Ignore CI/CD and proejct management configurations
.github/
.gitlab/
.bitbucket/

# Ignore editor directories
.idea/
.vscode/

# Ignore environment variable files
.env
.env.*

# Ignore Google Cloud ignore file
.gcloudignore

# Ignore dependency directories
**/node_modules/
**/vendor/

# Ignore npm related files that don't belong in production image
package.json
package-lock.json
tailwind.config.js

# Ignore build outputs and temporary files and directories
**/dist/
**/build/
**/out/
**/tmp/

# Ignore Terraform configuration and state files
terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform/

# Ignore all shell scripts
*.sh

# Ignore config files that are not needed in a production image
Dockerfile
.dockerignore
*.md
*.yml
*.yaml
*.toml

# Ignore macOS specific directories that get generated
.DS_Store
