@tailwind base;
@tailwind components;
@tailwind utilities;

/* jetbrains-mono-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100;
    src: url('/public/font/jetbrains-mono-v18-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jetbrains-mono-100italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 100;
    src: url('/public/font/jetbrains-mono-v18-latin-100italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jetbrains-mono-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/public/font/jetbrains-mono-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jetbrains-mono-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    src: url('/public/font/jetbrains-mono-v18-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jetbrains-mono-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 600;
    src: url('/public/font/jetbrains-mono-v18-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jetbrains-mono-600italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 600;
    src: url('/public/font/jetbrains-mono-v18-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jetbrains-mono-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    src: url('/public/font/jetbrains-mono-v18-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@layer base {
    body {
        @apply mx-auto my-auto font-mono grid text-zinc-300 bg-zinc-800;
    }

    main {
       @apply mx-auto my-auto mt-[20vh] p-16 grid grid-cols-1 place-content-center border-2 border-zinc-700/30 rounded-md;
    }

    input[type="checkbox"] {
        @apply h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute checked:border-indigo-500 checked:bg-indigo-500 checked:before:bg-indigo-500 hover:before:opacity-10;
    }

    input[type="number"] {
        @apply p-2 m-2 w-[4rem] text-sm ring-1 ring-zinc-800 outline-0 focus:ring-indigo-500 focus:border-indigo-500 bg-zinc-900 rounded-md;
    }

    .generate {
        @apply px-4 py-2 m-4 w-[12rem] text-zinc-50 bg-indigo-600 rounded-md;
    }

    .password {
        @apply grid grid-cols-1 place-items-center space-y-2;
    }

    .icon {
        @apply flex flex-col items-center justify-center;
    }

    #copy-tooltip {
        @apply py-1 px-2 my-2 text-white text-sm bg-indigo-600 text-center rounded-md;
    }
}