@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/share-tech-mono-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../../public/fonts/share-tech-mono-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../public/fonts/share-tech-mono-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../public/fonts/share-tech-mono-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../public/fonts/share-tech-mono-v15-latin-regular.svg#ShareTechMono') format('svg'); /* Legacy iOS */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  font-family: 'Share Tech Mono', monospace;
  background-color: #7dd3fc;
  overscroll-behavior: none;
}

.logo {
  width: 15vw;
}

.header {
  background-color: #f9a8d4;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 5rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1rem solid black;
}

.container {
  display: grid;
  /* align-items: center;
  justify-content: center; */
  place-content: center;
  place-items: center;
  height: 80vh;
  margin: 0, 5rem, 0, 5rem;
}

.input-field {
  display: flex;
  align-items: center;
  margin-bottom: .75em;
}

input[type="checkbox"]::before {
  -ms-transform: scale(4);
  /*-webkit-transform: scale(4);*/
  /*-moz-transform: scale(4);*/
  /*-o-transform: scale(4);*/
  transform: scale(4);
  background-color: black;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  margin-right: 5px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 1.0);
}

input[type="checkbox"]:checked::before {
  background-color: #6ee7b7;
}


label {
  margin-left: 3rem;
  font-size: 3rem;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

button {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: -.15rem;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #c4b5fd;
  text-transform: uppercase;
  font-size: 3rem;
  box-shadow: 6px 10px 0 rgba(0, 0, 0, 1.0); 
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-left: 1rem;
}

.number-input > label {
  margin-right: 2rem;
  text-transform: uppercase;
}

.number-input input[type=number] {
  background-color: black;
  font-family: 'Share Tech Mono', monospace;
  width: 10vw;
  padding: .25rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.password {
  font-family: 'Share Tech Mono', monospace;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 3rem;
  font-size: 3rem;
  background-color: #fdba74;
  box-shadow: 6px 10px 0 rgba(0, 0, 0, 1.0); 
  margin-bottom: 3rem;
  padding: 1rem 2rem;
}

.password > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.copied {
  font-family: 'Share Tech Mono', monospace; 
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
}